.app {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.app-layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
